/** Post Lists */
div.post-content ul > li { 
    list-style: disc;
    font-size: 14px;
}

div.post-content ol > li {
    list-style:decimal;
}

ul.post-list {
    list-style: none;
}

main.page-area {
    margin-top: 98px;
}

div.social a {
    color: #fff;
}

div.social svg-icon {
    fill: #fff
}

