/* ===== Begin Includes ===== */
/* Begin Alerts */
div.alert {
	margin-bottom: 0px;
}
/* End Alerts */

/* Begin Social Footer */
div.social a {
    color: #fff;
}

div.social svg-icon {
    fill: #fff
}
/* End Social Footer */
/* ===== End Includes ===== */

/* ===== Posts ===== */
/* Begin text blog intro */
#blog-intro-section {
	height: 20%;
}
#blog-intro-section .container {
	height: 100%;
}

/* End text carousel intro */

/** Post Lists */
div.post-content ul > li { 
    list-style: disc;
    font-size: 14px;
}

div.post-content ol > li {
    list-style:decimal;
}

ul.post-list {
    list-style: none;
}

main.page-area {
    margin-top: 98px;
}


/* End Post Lists */
/* ===== End Posts ===== */

/* ===== Home ===== */
/* Begin cta section */
#cta-section {
	padding: 70px 0 80px;
}
.cta-btn {
	margin-top: 30px;
}
/* End cta section */

/* Begin financial section */
#financial-section {
	padding: 70px 0 80px;
}
.financial-btn {
	margin-top: 30px;
}
/* End financial section */

/* Begin give section */
#give-section {
	padding: 70px 0 80px;
}
.give-btn {
	margin-top: 30px;
}
/* End give section */

/* Begin testimonial section */
#testimonial-section a {
	color: #fff;
}
/* End testimonial section */


/* Begin text carousel intro */
#text-carousel-intro-section a {
	color: #000;
}

/* End text carousel intro */

/* ===== End Home ===== */

