
  <!-- Begin footer -->
  <footer class="text-off-white">

<!-- Start Bot -->    

  <!-- Minimized Button -->
  <button id="chat-toggle">💬</button>

  <!-- Expandable Chat Container -->
  <div id="chat-container">
    <iframe src="https://web.powerva.microsoft.com/environments/d18354c7-d020-ecef-8ac6-3358211c110e/bots/crd33_tsfBot/webchat?__version__=2" frameborder="0" style="width: 100%; height: 100%; border: none;"></iframe>
  </div>

  <script>
    const chatBtn = document.getElementById("chat-toggle");
    const chatContainer = document.getElementById("chat-container");
    let isOpen = false;

    chatBtn.addEventListener("click", () => {
      isOpen = !isOpen;
      chatContainer.style.display = isOpen ? "flex" : "none";
    });
  </script>
<!-- End Bot -->    

    <div class="footer-top">
      <div class="container">
          <div>

                <div class="col-sm-4">
                    <ul class="imp-links">
                      <li><a href="/#about-section">Home</a></li>
                      <li><a href="/#give-section">Give</a></li>
                      <li><a href="/legal">Legal</a></li>
                      <li><a href="https://www.sujeeth.org/legal/Privacy-Policy/">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
            
                <div class="col-sm-5">
                  <h2 class="footer-heading">{{ site.title | escape }}</h2>

                  <ul class="contact-list imp-links">
                      <li class="p-name">
                        {{ site.author | escape }}
                      </li>
                      <li>{{- site.description | escape -}}</li>
                      <br>
                    </ul>
                </div>               
                
                <div class="col-sm-3 social">
                  {%- include social.html -%}        
                </div>   
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>
    
    <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->


</footer>
<!-- End footer -->
</div> <!--/.body -->
