        <!--========== BEGIN HEADER ==========-->
        <header id="header" class="header-main">

          <!-- Begin Navbar -->
          <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->
          <!-- notification alerts -->
          {% assign timeframe = 604800 %} <!-- 7 days == 604800 seconds -->
          {% for alert in site.alerts limit: 3 %}
            {% assign alert_in_seconds = alert.date | date: "%s" | plus: 0 %}
            {% assign recent_alerts = "now" | date: "%s" | minus: timeframe %}
            {% if alert_in_seconds > recent_alerts %}
              <div markdown="span" class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> <b>Note:</b><a class="alert-info" href="{{ alert.url | relative_url }}" > {{ alert.excerpt }} </a> </div>
            {% endif %}
          {% endfor %}
          <!-- end notification alerts-->
            <div class="container">
              {%- assign default_paths = site.pages | map: "path" -%}
              {%- assign page_paths = site.header_pages | default: default_paths -%}                
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="index.html">{{ site.title | escape }}</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a class="page-scroll" href="/">Home</a></li>
                      <li><a class="page-scroll" href="/#about-section">About</a></li>
                      <!--
                      <li><a class="page-scroll" href="/#scholarship-section">Scholarship</a></li>                            
                      <li><a class="page-scroll" href="/#give-section">Give</a></li>
                      <li><a class="page-scroll" href="/#portal">Portal</a></li>
                      -->
                      {%- if page_paths -%}
                        {%- for path in page_paths -%}
                          {%- assign my_page = site.pages | where: "path", path | first -%}
                          {%- if my_page.title and my_page.skip != true -%}
                            <li><a class="page-scroll" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
          </nav>
          <!-- End Navbar -->
        </header>
        <!-- ========= END HEADER =========-->

