<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  {%- feed_meta -%}
  {%- if site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
        
  <!-- Google Fonts  -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

  <!-- Libs and Plugins CSS -->
  <link rel="stylesheet" href="/inc/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/inc/animations/css/animate.min.css">
  <link rel="stylesheet" href="/inc/font-awesome/css/font-awesome.min.css"> <!-- Font Icons -->
  <link rel="stylesheet" href="/inc/owl-carousel/css/owl.carousel.css">
  <link rel="stylesheet" href="/inc/owl-carousel/css/owl.theme.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/mobile.css">

  <!-- Skin CSS -->
  <link rel="stylesheet" href="/css/skin/cool-gray.css">
      <!-- <link rel="stylesheet" href="css/skin/ice-blue.css"> -->
      <!-- <link rel="stylesheet" href="css/skin/summer-orange.css"> -->
      <!-- <link rel="stylesheet" href="css/skin/fresh-lime.css"> -->
      <!-- <link rel="stylesheet" href="css/skin/night-purple.css"> -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="/css/sujeeth.css">

  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "j1wi05m7uw");
  </script>
</head>
