---
layout: page
---

        	<!-- Begin text carousel intro section -->
          <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background:rgba(0,0,0,.2) url(/img/slider-bg.jpg); background-size: cover; background-blend-mode: darken;">
				
            <div class="container">
              <div class="caption text-center text-white" data-stellar-ratio="0.7">
    
                <div id="owl-intro-text" class="owl-carousel">
                  <div class="item">
                    <h1>Unlock the opportunity of education</h1>
                    <p>Our Mission</p>
                    <div class="extra-space-l"></div>
                    <a class="btn btn-blank" href="/#about-section" target="_self" role="button">Learn More!</a>
                  </div>
                  <div class="item">
                    <h1>Career Circles</h1>
                    <p>How we deliver our mission.</p>
                    <div class="extra-space-l"></div>
                    <a class="btn btn-blank" href="/subscribe" target="_self" role="button">Learn More!</a>
                  </div>
                  <div class="item">
                    <h1>Volunteer</h1>
                    <p>Change the World</p>
                    <div class="extra-space-l"></div>
                    <a class="btn btn-blank" href="/volunteer" target="_self" role="button">Learn More!</a>
                  </div>
                  <div class="item">
                    <h1>Give</h1>
                    <p>Help Us Scale</p>
                    <div class="extra-space-l"></div>
                    <a class="btn btn-blank" href="https://go.sujeeth.org/give" target="_new" role="button">Learn More!</a>
                  </div>
		</div>
    
              </div> <!-- /.caption -->
            </div> <!-- /.container -->
    
          </section>
          <!-- End text carousel intro section -->

            <!-- Begin about section -->
            <section id="about-section" class="page bg-style1">
              <!-- Begin page header-->
              <div class="page-header-wrapper">
                  <div class="container">
                      <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                          <h2>About Us</h2>
                          <div class="devider"></div>
                          <p class="subtitle">the bullets</p>
                      </div>
                  </div>
              </div>
              <!-- End page header-->      

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3 col-sm-6">
                              <a href="#about-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                  <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                                  <div class="rotate-box-info">
                                      <h4>Who We Are?</h4>
                                      <p>The Sujeeth Foundation is a non-profit organization dedicated to unlocking the opportunity of education.</p>
                                  </div>
                              </a>
                          </div>

                          <div class="col-md-3 col-sm-6">
                              <a href="#about-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                  <span class="rotate-box-icon"><i class="fa fa-diamond"></i></span>
                                  <div class="rotate-box-info">
                                      <h4>What We Do?</h4>
                                      <p>We help students network into their first job. We partner students with a mentor for a six-week program that encourages students to exercise agency in their career.</p>
                                  </div>
                              </a>
                          </div>

                          <div class="col-md-3 col-sm-6">
                              <a href="#about-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                  <span class="rotate-box-icon"><i class="fa fa-heart"></i></span>
                                  <div class="rotate-box-info">
                                      <h4>Why We Do It?</h4>
                                      <p>Academic institutions are a place where experimentation thrives and opportunities to grow are abundant.  We want to unlock that value for every student.</p>
                                  </div>
                              </a>
                          </div>
                          
                          <div class="col-md-3 col-sm-6">
                              <a href="#about-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.6s">
                                  <span class="rotate-box-icon"><i class="fa fa-clock-o"></i></span>
                                  <div class="rotate-box-info">
                                      <h4>Since When?</h4>
                                      <p>We launched on May 2023.  We are currently partnered with the University of Missouri.</p>
                                  </div>
                              </a>
                          </div>
                          
                      </div> <!-- /.row -->
                  </div> <!-- /.container -->
              </div>
              <!-- End rotate box-1 -->
              
              <div class="extra-space-l"></div>
              
        </section>
        <!-- End about section -->

        
        <section id="cta-section">
         	<div class="cta">
           	<div class="container">
               	<div class="row">
                    
                    <div class="col-md-6 columnBlockLayout" style="word-break: break-word; flex-grow: 1; display: flex; flex-direction: column; min-width: 300px;">
                      <h1>Programs Portal</h1>
                      <p>Career circle embeds concepts from leading thought leaders.  To enrich the experience, we provide students access to a curated list of Ted Talks.  In addition, we will provide the books written by these thought leaders to students for free.</p>
                      <p>The Programs Portal provides a vehicle for students to learn more about what we offer.  Students can request books through the portal.</p>
                    </div>
                    <div class="col-md-6 columnBlockLayout" style="word-break: break-word; flex-grow: 1; display: flex; flex-direction: column; min-width: 300px;"><img src="/img/programsportaloverview.gif" style="max-width: 100%; height: 266px;" /></div>

                     
                   </div> <!-- /.row -->
               </div> <!-- /.container -->
           </div>
          </section>
          <!-- End cta -->     
          

          <!-- Begin services -->
          <section id="services-section" class="page text-center">
            <div class="page-header-wrapper">
              <div class="container">
                <div class="page-header text-center wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
                  <h2>Services</h2>
                  <div class="devider"></div>
                  <p class="subtitle">Equip Yourself</p>
                </div>
              </div>
            </div>
            <div class="rotate-box-2-wrapper">
              <div class="container">
                <div class="row">
                  <!--
                  <div class="col-md-3 col-sm-6"><a href="https://www.free-css.com/free-css-templates" class="rotate-box-2 square-icon text-center wow zoomIn animated" data-wow-delay="0" style="visibility: visible; animation-name: zoomIn;"><span class="rotate-box-icon"><i class="fa fa-mobile"></i></span>
                    <div class="rotate-box-info">
                      <h4>App Development</h4>
                      <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                    </div>
                    </a></div>
                  <div class="col-md-3 col-sm-6"><a href="https://www.free-css.com/free-css-templates" class="rotate-box-2 square-icon text-center wow zoomIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;"><span class="rotate-box-icon"><i class="fa fa-pie-chart"></i></span>
                    <div class="rotate-box-info">
                      <h4>Ui Design</h4>
                      <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                    </div>
                    </a></div>
                  -->
                  <div class="col-md-6 col-sm-6"><a class="rotate-box-2 square-icon text-center wow zoomIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;"><span class="rotate-box-icon"><i class="fa fa-pencil"></i></span>
                      <div class="rotate-box-info">
                        <h4>Books</h4>
                        <p>Tap into a wealth of wisdom and techniques that will empower you to overcome challenges, develop a positive mindset, and excel in teamwork.</p>
                      </div>
                    </a></div>                   
                  <div class="col-md-6 col-sm-6"><a class="rotate-box-2 square-icon text-center wow zoomIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;"><span class="rotate-box-icon"><i class="fa fa-cloud"></i></span>
                    <div class="rotate-box-info">
                      <h4>Circles</h4>
                      <p>Career Circles provide a supportive environment for students to network into their first job.  Career mentors paired with student leaders provide guidance as students explore career options.</p>
                    </div>
                    </a></div>

                </div>
              </div>
              <div class="container">
                <div class="extra-space-l"></div>
                <div class="text-center"><a class="btn btn-default btn-lg-xl" style="color: white;" href="https://portal.sujeeth.org" role="button">Launch Portal</a></div>
              </div>
            </div>
          </section>
            <!-- end services -->


            <!-- Begin testimonials -->
            <section id="testimonial-section">
              <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/testimonial-bg.jpg);">
                  <div class="cover"></div>
                  <!-- Begin page header-->
                  <div class="page-header-wrapper">
                      <div class="container">
                          <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                              <h2>Blog</h2>
                              <div class="devider"></div>
                              <p class="subtitle">Our latest posts</p>
                          </div>
                      </div>
                  </div>
                  <!-- End page header-->
                  <div class="container">
                      <div class="testimonial-inner center-block text-center">
                          <div id="owl-testimonial" class="owl-carousel">
                              {%- for post in site.posts limit:3 -%}
                              <div class="item">
                                  <blockquote>
                                      <cite title="Source Title">
                                        <a class="post-link" href="{{ post.url | relative_url }}">
                                          {{ post.title | escape }}
                                        </a>
                                      </cite>
                                      <br/>
                                      <p>{{ post.excerpt }}</p>
                                  </blockquote>
                              </div>
                              {%- endfor -%}

                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- End testimonials -->               

        <!-- Begin financial -->
        <section id="financial-section">
          <div class="cta">
            <div class="container">
                <div class="row">
                   
                    <div class="col-md-9">
                        <h1>2024 Annual Report</h1>
                          <p>By clearly reporting on donations, grants, and programming, we hope to build trust within the community and promote governance within the organization to ensure that money we are entrusted with drives the most impact towards students.</p>
                      </div>
                       
                      <div class="col-md-3">
                        <div class="financial-btn">
                      <a class="btn btn-default btn-lg" href="https://www.sujeeth.org/report/2024AnnualReport.pdf" target="_blank" role="button">Download</a>
                        </div>
                      </div>
                      
                  </div> <!-- /.row -->
              </div> <!-- /.container -->
          </div>
         </section>
         <!-- End financial -->               

            <!-- Begin counter up -->
            <section id="counter-section">                					
              <div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/counter-bg.jpg);">
                <div class="cover"></div>
                          <!-- Begin page header -->
                          <div class="page-header-wrapper">
                              <div class="container">
                                  <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                      <h2>Some Fun Facts</h2>
                                      <div class="devider"></div>
                                      <p class="subtitle">Before anyone is not told</p>
                                  </div>
                              </div>
                          </div> 
                          <!-- End page header -->

                <div class="container">
      
                  <div class="row">
      
                    <div class="fact text-center col-md-3 col-sm-6">
                      <div class="fact-inner">
                        <i class="fa fa-graduation-cap fa-3x"></i>
                                          <div class="extra-space-l"></div>
                        <span class="counter">300</span>
                        <p class="lead">Students Served</p>
                      </div>
                    </div>
      
                    <div class="fact text-center col-md-3 col-sm-6">
                      <div class="fact-inner">
                        <i class="fa fa-users fa-3x"></i>
                                          <div class="extra-space-l"></div>
                        <span class="counter">54</span>
                        <p class="lead">Career Circles Hosted</p>
                      </div>
                    </div>
      
                    <div class="fact text-center col-md-3 col-sm-6">
                      <div class="fact-inner">
                        <i class="fa fa-book fa-3x"></i>
                                          <div class="extra-space-l"></div>
                        <span class="counter">324</span>
                        <p class="lead">Books Shipped</p>
                      </div>
                    </div>
      
                    <div class="fact last text-center col-md-3 col-sm-6">
                      <div class="fact-inner">
                        <i class="fa fa-puzzle-piece fa-3x"></i>
                                          <div class="extra-space-l"></div>
                        <span class="counter">30</span>
                        <p class="lead">Career Mentors</p>
                      </div>
                    </div>
      
                  </div> <!-- /.row -->
                </div> <!-- /.container -->
              </div>
                  </section>
            <!-- End counter up -->


        <!-- Begin donation -->
        <section id="give-section">
          <div class="cta">
            <div class="container">
                <div class="row">
                   
                    <div class="col-md-9">
                        <h1>Give</h1>
                          <p>Your gift of $10/month helps put a student through the Sujeeth Foundation Career Program.  Together we can help students unlock opportunity through education.</p>
                      </div>
                       
                      <div class="col-md-3">
                        <div class="give-btn">
                      <a class="btn btn-default btn-lg" href="https://www.gofundme.com/sujeethorg2025" target="_blank" role="button">Donate</a>
                        </div>
                      </div>
                      
                  </div> <!-- /.row -->
              </div> <!-- /.container -->
          </div>
         </section>
         <!-- End donation -->     


          

